<?xml version="1.0" encoding="UTF-8" ?>
<module>
	<name>blockhomeslideshow</name>
	<displayName>Slide Show Home Block</displayName>
	<version>0.1</version>
	<description>Adds a slide show to the home page.</description>
	<author></author>
	<tab>Blocks</tab>
	<is_configurable>1</is_configurable>
	<need_instance>0</need_instance>
	<limited_countries></limited_countries>
</module>